@import Models.Room
@(room:Option[Room])


@main(room.map(room => s"Edit ${room.name}").getOrElse("NO Room Found")){
    @if(room.nonEmpty){
        <h3 class="text-center">Edit Room</h3>
    <form method="post" action="@routes.RoomController.postRoom(room.map(_.id.toString).getOrElse(""))">
        <div class="form-group">
    <label for="room-name">Hotel Name</label>
    <input type="text" id="room-name" name="name" value="@room.map(_.name).getOrElse("")" class="form-control" required>
            </div>
            <div class="form-group">
    <label for="room-number">Rooom Number</label>
    <input type="text" id="room-number" name="number" value="@room.map(_.number).getOrElse(0)" class="form-control" required>
                </div>
        <div class="form-group">
            <label for="room-cost">Room Cost</label>
            <input type="text" id="room-cost" name="cost" value="@room.map(_.cost).getOrElse(BigDecimal(0))" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="room-items">Items(Enter Comma separated values)</label>
            <input type="text" name="items" id="room-items" class="form-control" value="@room.map(_.items.mkString(", "))">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    }else{
        <div class="container">
            <div class="row">
                <h3>Please Enter correct id to Edit Or Click on edit button in the
                <a href="@routes.RoomController.getRooms()">Home</a> table.
                    </h3>
            </div>
        </div>
    }

}